/* You can add global styles to this file, and also import other style files */

@import 'bootstrap';

body {
    background-color: skyblue;
}

h1 {
    margin-bottom: 1rem;
    color: azure;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
}

p {
    color: azure;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
}